.chart {
    position:    relative;
    left:        10ex;
    max-width:   40em;
    margin-top:  1em;
    line-height: 0px;

    .top {
        position:    absolute;
        top:         -.5em;
        left:        0px;
        width:       100%;
        text-align:  left;
        font-size:   80%;
        white-space: nowrap;
    }

    .top + .top {
        text-align: right;
    }

    .xmark {
        position:    absolute;
        bottom:      -1em;
        text-align:  center;
        white-space: nowrap;
    }

    .ymark {
        position:    absolute;
        left:        -10ex;
        width:       9.5ex;
        text-align:  right;
        white-space: nowrap;
    }
}

.preview {
    display:     inline-block;
    position:    relative;
    width:       10em;
    overflow:    hidden;
    line-height: 1em;

    .top {
        display:     inline-block;
        width:       0px;
        white-space: nowrap;
        font-size:   80%;
    }
    
    .top + .top {
        width:      100%;
        text-align: right;
    }

    .scale {
        position:    absolute;
        left:        .5ex; 
        width:       0px;
        opacity:     60%;
        font-size:   80%; 
        white-space: nowrap; 
    }
    
    .min {
        top: 1.3em;
    }

    .max {
        bottom: .2em;
    }
}

svg {
    border: 1px solid #a0a0a0;

    .closed {
        stroke:          none;
        stroke-linejoin: round;
        fill:            #e0e0e0;
    }

    .open {
        stroke:          #404071;
        stroke-width:    2;
        stroke-linejoin: round;
        fill:            none;
        vector-effect:   non-scaling-stroke;
    }

    .threshold {
        stroke-width:    2;
        stroke-linejoin: round;
        fill:            none;
        vector-effect:   non-scaling-stroke;
    }

    .warning {
        opacity: .5;
        stroke:  #ffff00;
    }
    
    .critical {
        opacity: .3;
        stroke:  #ff0000;
    }

    .grid {
        stroke:        #e0e0e0;
        stroke-width:  .5;
        vector-effect: non-scaling-stroke;
    }

    .zero {
        stroke: #000000;
    }

    .hmajor {
        stroke: #a0a0a0;
    }

    .vmajor {
        stroke: #808080;
    }
}
